// colors:
$Vdarkblue : #0d192b;
$VdarkblueCard: #14253d;
$SB : #8bacda;
$C : #00fff7;
$VdarkblueLine: #2f415b;
$white : #ffffff;
// =====================================
// font https://fonts.google.com/specimen/Outfit